@model BilkoNavigator_.Models.Location

@{
    ViewData["Title"] = "Детайли";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Детайли</h1>

<div>
    <h4>Локация</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Ширина
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Latitude)
        </dd>
        <dt class = "col-sm-2">
            Дължина
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Longitude)
        </dd>
        <dt class = "col-sm-2">
            Описание
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Редакция</a> |
    <a asp-action="Index">Назад към списъка</a>
</div>
