@page
@model ErrorModel
@{
    ViewData["Title"] = "Грешка";
}

<h1 class="text-danger">Грешка.</h1>
<h2 class="text-danger">Възникна грешка при обработката на заявката.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Идентификатор на заявката:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Режим за разработка</h3>
<p>
    Превключването към среда <strong>Разработка (<code>Development</code>)</strong> показва подробна информация за възникналата грешка.
</p>
<p>
    <strong>Средата за разработка (<code>Development</code>) не трябва да е включена в продукция.</strong>
    Това може да доведе до показване на чувствителна информация на крайните потребители.
    За локално дебъгване включете режима за разработка, като зададете средата <strong>ASPNETCORE_ENVIRONMENT</strong> на <strong>Development</strong>
    и рестартирайте приложението.
</p>
